-- TODO rename this file to 'local.lua'
-- TODO fill out the "predefined configuration" section
-- TODO add custom lua code as you like (e.g. commands, global functions, etc.)

-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-- ~ predefined configuration ~
-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

my.sys_local = {
    -- configuration to easily switch between projects using fuzzy find
    projects = {
        base_dirs = {
            -- base directories which will be scanned for project folders
            -- e.g. '/home/user/projects'
        },
        dirs = {
            -- single project directories (if you want to add some from outside a base_dir)
            -- e.g. '/home/user/projects/my-project'
        },
    },
    git = {
        -- custom callback funtions for `gitlinker.nvim`
        -- see https://github.com/ruifm/gitlinker.nvim#callbacks
        gitlinker_callbacks = {
            -- ['git.seriouscompany.com'] = function(url_data)
            --     return ''
            -- end
        }
    },
    -- clojure configuration for this computer
    clojure = {
        -- this is the current default command for starting a clojure REPL with 'JackIn'
        repl_cmd = [[clj -Sdeps '{:deps {nrepl/nrepl {:mvn/version "1.1.0"}}}' -M -m nrepl.cmdline]],
    },
    -- java configuration for this computer
    java = {
        -- workspace data directory for JDTLS
        -- (NOTE: make sure that either the directory does already exist or that your path ends with a "/")
        workspace_dir = '/home/user/java_workspace/',

        -- check the following page and search for "ExecutionEnvironment" enum for the exact values needed for the name
        -- https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line#initialize-request
        runtimes = {
            {
                name = "JavaSE-11",
                path = "/usr/lib/jvm/java-11-openjdk-amd64"
            },
        },
    },
}

-- ~~~~~~~~~~~~~~~
-- ~ custom code ~
-- ~~~~~~~~~~~~~~~

-- go wild in here...
