-- TODO rename this file to 'local.lua'
-- TODO fill out the "predefined configuration" section
-- TODO add custom lua code as you like (e.g. commands, global functions, etc.)

-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-- ~ predefined configuration ~
-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~

my.sys_local = {
    -- configuration to easily switch between projects using fuzzy find
    projects = {
        base_dirs = {
            -- base directories which will be scanned for project folders
            -- e.g. '/home/user/projects'
        },
        dirs = {
            -- single project directories (if you want to add some from outside a base_dir)
            -- e.g. '/home/user/projects/my-project'
        },
    },
    git = {
        -- custom callback funtions for `gitlinker.nvim`
        -- see https://github.com/ruifm/gitlinker.nvim#callbacks
        gitlinker_callbacks = {
            -- ['git.seriouscompany.com'] = function(url_data)
            --     return ''
            -- end
        }
    },
    -- java configuration for this computer
    java = {
        -- workspace data directory for JDTLS
        workspace_dir = '/home/user/java_workspace',
        runtimes = {
            {
                name = "JavaSE-11",
                path = "/usr/lib/jvm/java-11-openjdk-amd64"
            },
        },
    },
}

-- ~~~~~~~~~~~~~~~
-- ~ custom code ~
-- ~~~~~~~~~~~~~~~

-- go wild in here...
